################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AmazonTests/v15/Server/sqlite3
/.vs/AmazonTests/v15/.suo
/AmazonTests/bin/Debug/netcoreapp2.1

/AmazonTests/obj/Debug/netcoreapp2.1
